@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0; list-style-type:none; text-decoration:none;}
html{height:100%;}
body{background:url(images/bg.jpg);font-family:Calibri, Helvetica, Arial, MS Pgothic, "Hiragino Kaku Gothic", Osaka, sans-serif;}
.top{width:1250px;height: 50px;margin: 10px;}
.top img{float: left;}
.main{width:1250px;float: left; margin:200px auto; color: rgba(0,0,0,1);font-size:50px;text-align: center;}